@import "~bootstrap/scss/bootstrap.scss";

.text-center {
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: blue;
}

.tasks{
    .list{
        .delete{
            display:none;
        }
      &:hover{
        .delete{
            display:inline;
        }
    }
}
}
    
